run = "npm install && npx prisma generate && npx pm2 start ecosystem.config.js --no-daemon"
entrypoint = "ecosystem.config.js"
modules = ["nodejs-20", "web", "nix"]

[nix]
channel = "stable-25_05"

[env]
NODE_ENV = "production"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]

SHOPIFY_APP_URL = ""

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "App"

[[workflows.workflow]]
name = "App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx pm2-runtime ecosystem.config.cjs"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
